#selfie {
  width: 200px;
}
#social {
  font-size: 64px;
  letter-spacing: 0.2em;
}
footer {
  padding: 30px 0;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}
img.work {
  width: 320px;
}
